<a href="https://colab.research.google.com/github/rakelup/DESU-IA4PH-Info-PROF/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DESU IA4 HEALH
TU : Info-PROF, Introduction to Python programming for health data

#Session 2: Introduction to PANDAS

#Leaning objectives


1. Learning the different data types in pandas: Data frame and series
2. Importing and exporting data into a data frame
2. Subseting data frames
4. Combining dataframes
5. Doing transformations with dataframes

##What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

In [5]:
#Importing Pandas and verifying the version
import pandas as pd # as allows to create an alias

print(pd.__version__) #allow to verify the pandas function

1.1.5

##Data types on Pandas :


1.   **Series :** It is a one-dimensional array holding data of any type.
2.  **Dataframes :** Multidimensional data tables holding data of any type. We can think that the series are like the columns of a dataframe whereas que the whole table is the dataframe.

In [6]:
# Example series with labels


a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

## Dataframes

In [ ]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

**Exercise :** Create a dataframe that stores in one row the person ID, height, weight, sex  and  birthdate. Add at least three examples

###Conversion des variables categorielles :

In [ ]:
df_petit = pd.DataFrame({ 'Country': ['France','Spain','Germany', 'Spain','Germany', 'France', 'Italy'], 'Age': [50,60,40,20,40,30, 20] })
df_petit

   Country  Age
0   France   50
1    Spain   60
2  Germany   40
3    Spain   20
4  Germany   40
5   France   30
6    Italy   20

####Label encoding

In [ ]:
df_petit['Country_cat'] = df_petit['Country'].astype('category').cat.codes
df_petit

   Country  Age  Country_cat
0   France   50            0
1    Spain   60            3
2  Germany   40            1
3    Spain   20            3
4  Germany   40            1
5   France   30            0
6    Italy   20            2

#### One hot encoding

In [ ]:

df_petit = pd.get_dummies(df_petit,prefix=['Country'], columns = ['Country'], drop_first=True)
df_petit.head()

   Age  Country_cat  Country_Germany  Country_Italy  Country_Spain
0   50            0                0              0              0
1   60            3                0              0              1
2   40            1                1              0              0
3   20            3                0              0              1
4   40            1                1              0              0

Exercise : Create a dataframe with 5 row that with the diffent characteristics : ID, sex (M or F), frailty degree (FB, M, F). Convertir

#Dealing with dates

In [ ]:
#Library to deeal with dates
import datetime

In [ ]:
dti = pd.to_datetime(
    ["1/1/2018", np.datetime64("2018-01-01"), datetime.datetime(2018, 1, 1)]
)

In [ ]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])
df

### Cutomize the date format

In [ ]:
df = pd.DataFrame({'date': ['2016-6-10 20:30:0', 
                            '2016-7-1 19:45:30', 
                            '2013-10-12 4:5:1'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
df

**Exercise :** Check the Pandas documentation and create a dataframe with a columns with dates and try differeent datatypes.
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

## Cleaning the data : 
1. Dealing with missing values
2. Data in wrong format
3. Wrong data
4. Duplicates

###Dealing with missing values : 

Handling missing values is an essential part of data cleaning and preparation process since almost all data in real life comes with some missing values.

First of all lets create a daframe with missing values.

In [ ]:
df2 = df
df2.Glucose.replace(99, np.nan, inplace=True)
df2.BloodPressure.replace(74, np.nan, inplace=True)

print ('\nNumber of Missing values:  ', df2.isnull().sum())
print ('\nTotal number of missing values :  ', df2.isnull().sum().values.sum())

Valeurs manquantes:   Pregnancies                  0
Glucose                     17
BloodPressure               52
SkinThickness                0
Insulin                      0
BMI                          0
DiabetesPedigreeFunction     0
Age                          0
Outcome                      0
dtype: int64

Valeurs manquantes total:   69

###First strategy : Removing the whole row that contains a missing value

In [ ]:
# Removing the whole row
df3 = df2.dropna()

print ('\nValeurs manquantes:  ', df3.isnull().sum())
print ('\nValeurs manquantes total:  ', df3.isnull().sum().values.sum())

Valeurs manquantes:   Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

Valeurs manquantes total:   0

In [ ]:


##Replace the missing values

df2.Glucose.replace(np.nan, df['Glucose'].median(), inplace=True)
df2.BloodPressure.replace(np.nan, df['BloodPressure'].median(), inplace=True)

#Importing and dealing with large datasets

### Data overview

In [ ]:
# 
print ('Rows     : ', df.shape[0])
print ('Coloumns  : ', df.shape[1])
print ('\nFeatures : \n', df.columns.tolist())
print ('\nValeurs manquantes:  ', df.isnull().sum().values.sum())
print ('\nValeurs unique :  \n', df.nunique())

Files     :  768
Colonnes  :  9

Features :
 ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

Valeurs manquantes:   0

Valeurs unique :
 Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

In [ ]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

##Sorting the data

In [ ]:
#Trier les donn√©es
b = df.sort_values('Pregnancies')
b.head()

     Pregnancies  Glucose  ...  Age  Outcome
467            0       97  ...   25        0
109            0       95  ...   24        1
452            0       91  ...   25        0
449            0      120  ...   26        0
448            0      104  ...   22        1

[5 rows x 9 columns]

**Exercise :** Sort the data in descending order according to the insulin level and store the data in a new Data frame. How to store the data in the same dataframe?

## Subseting the data

In [ ]:
df[df['BloodPressure'] >70].count() # Filtrage par valeur

Pregnancies                 393
Glucose                     393
BloodPressure               393
SkinThickness               393
Insulin                     393
BMI                         393
DiabetesPedigreeFunction    393
Age                         393
Outcome                     393
dtype: int64

In [ ]:
df_court = df[['Insulin','Glucose']]

df_court.drop('Insulin', inplace= True, axis = 1)

df_court.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   Glucose
0      148
1       85
2      183
3       89
4      137

## Statistics applied to dataframes

### Data Corrrelations :
 The corr() method calculates the relationship between each column in your data set.

The examples in this page uses a CSV file called: 'data.csv'.

In [ ]:
df.corr()

## Exporting a dataframe

##References

https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#