<a href="https://colab.research.google.com/github/rakelup/DESU-IA4PH-Info-PROF/blob/main/TD1_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DESU IA4 HEALH 
#TU : Info-PROF, Introduction to Python programming for health data


# **Practical work 1 - Basics**

Nicolas Ngo, Raquel Urena

## **A) Object types and variables**

### **Strings**

#### **Exercise 1 - Try to guess what these commands will do**



```
my_string = "I like Python!"
my_string[2:]
my_string[5:8]
my_string[0:-5]
my_string[:]
```

#### **Exercise 2 - Text analysis**
**Consider the following text:**

_"Genuine love is rarely an emotional space where needs are instantly gratified. To know love we have to invest time and commitment...  
'dreaming that love will save us, solve all our problems or provide a steady state of bliss or security only keeps us stuck in wishful fantasy,
undermining the real power of the love -- which is to transform us.'   
Many people want love to function like a drug, giving them an immediate and sustained high. 
They want to do nothing, just passively receive the good feeling."_

**1. Assign the text to a string variable, with regards to the quotes and line breaks.**

**2. Display how many "love" are present in the text, with a substitution.**

**3. Add the author's name at the end of the quote (Bell Hooks) and print the new quote**

**Hint**: You will need to consider the documentation about the methods available in Python for str objects.

### **Lists**

#### **Exercise 3 - Sort lists**

**With the following list of names and measurements do:**  
**1. Create two separate lists, one for the names and one for the measurements**  
**2. Sort all the measures by decreasing order and display the 3 smallest values**  
**3. Sort all the names by alphabetical order and display the 5 first names, excepting the first one.**  
**4. A mistake has been made in the list, replace the "0.4" measure by "0.34" and print the value of the 3 smallest values of the new list**  



```
my_list = ["Michael", 0.35, "Yannick",0.4, 0.2, 0.1, "Jean", 0.8, "Abir", "John", "Maria", 2.2, 2.3, 4.0, "Abraham", 5.2, "Karen", "Ismael", 2.7, 5.2]
```

### **Tuples**

#### **Exercise 4 - Manipulate tuples**

**Consider the following collection of patient names:**

Gael, Mathis, Alexia, Oceane, Gaspard, Leo, Gabrielle, Laura, David and Hugo.

**1. Assign the names to a tuple**  
**2. Check if "Marie" is in the tuple, if not, add her to the tuple**  
**3. A mistake was made, remove "Laura" from the tuple, display how many names are presents in the tuple.**  
**4. Assign each name to a waiting room (waitingRoom1, waitingRoom2, waitingRoom3), but be carefull, only the first waiting room can take more than one patient.**

### **Dictionaries**

#### **Exercise 5 - Create a dictionary from the two following lists**

```
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```

**Hint**: Use the _zip_ function

#### **Exercise 6 - Merge the following dictionaries into one dictionary**

```
dict1 = {'Ten':10, 'Twenty':20,'Thirty':30}
dict2 = {'Thirty':30, 'Fourty':40,'Fifty':50}
```

#### **Exercise 7 - Rename the key _city_ to _location_ in the following dictionary**

```
sampleDict = {"name":"Kelly",
              "age":25,
              "salary":8000,
              "city":"New York"}
```

**Hint**: Check the _pop_ method.

#### **Exercise 8 - From the following dictionary, return the classes with highest grades to the lowest**

```
my_dict = {'History':14,
           'Math':8,
           'Physics':10,
           'Statistics':12,
           'Geography':18}

```

**Expected output:** ['Geography','History','Statistics','Physics', 'Math']  
**Hint:** Check the _sorted_ function and it's documentation about the _key_ argument.

### **Sets**

#### **Exercise 9 - Here are three lists, give the common element(s) of the three lists as a set**  

```
list1 = ['Marc', 'Gabriel', 'Astrid', 'John']  
list2 = ['Gabriel', 'Paul', 'Mathieu', 'John']  
list3 = ['Banana', 'Apple', 'Paul', 'Computer', 'Gabriel']
```

## **Exercise 10**

**From the following sequence of letters, you'll have to print the letter with the most occurrences and the number of occurrences of this letter, whether it is lowercase or uppercase. You have to use at least 2 collections type and a string**


**This is the sequence :**  AlksErRoVpeWdsSaFsdCfafkpweRKddAPoSRCPsO

## **B) Conditional Statements**

### **If Statements**

#### **Exercise 11**

**The following dictionary contains the names, ages and locations of some fictionary patients.**


```
patients = dict({"Name":["Patrice","Marina","Hugh"],
                 "Age":[26, 35, 8],
                 "Location":["Marseille", "Aix", "Nice"]})
```
**1. Check if Gabrielle, 22 from Lorient, is in the dictionary.**  
**2. If not, add her with her information to the dictionary**  
**3. Print the new dictionary**

#### **Exercise 12**

**Write a program that:**

**1. Ask the user to input an integer**  
**2. Print the value with a substitution**  
**3. Print if the number is even**

### **Boolean Operations**

#### **Exercise 13**

**From the following code, guess what will be printed. Justify your answer**



```
var1 = True
var2 = False
x = 10
y = "15"
 
statement1 = not ((not var1) and var2) or var2
statement2 = x != 10 or type(y) == int and  x == 10
 
if statement1 != statement2:
  if statement1:
    print('I love maths')
  else:
    print('I love physics')
else:
  print('I love Python')
```

#### **Exercise 14**

**From the following list of booleans, check if there's at leat one True element and print its index**

```
[False, False, True, False, False, False]
```
**Hint:** You should take a look at the *any* or *all* functions documentation.

## **C) Functions**

#### **Exercise 15**
**Write a Python function that compute the sum of a given list**

## **C) Loops**

### **_for_ loops**

#### **Exercise 15**

**From the following list of numbers, print the cummulative sum of the numbers and stop when the sum is greater than 100**



```
Numbers = [18, 15, 2, 35, 8, 78, 10, 12, 33]
```

#### **Exercise 16**

**Ask to the user a name in a string, then display the index of each letter in the alphabet, with a _for_ loop**

**Hint:** Take a look at the string library and the ascii methods

#### **Exercise 17 - Prime numbers**

**Display all the prime numbers between 1 to 100 using loops**

**Note:** A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers.  
For example 5 is a prime number because it can only be written as $1 \times 5$ or $5 \times 1$. However 4 is not a prime number because it can be written as $2 \times 2$.  

One way to check if a number $k$ is a prime number is by checking if $k$ can be divided by a number $k'$ which verified $k' < k$ and $k' > 1$.

### **_while_ loops**

#### **Exercise 18**

**Complete the following program to guess a number between 1 to 9. You must display a message when the user guessed the right integer.**

```
import random
integer_to_be_guessed = random.randint(1, 10)

##########

# To be completed

##########


```

**Note:** From the random library, we use the _randint_ function to assign a random integer (between 1 and 9) to a variable. You have to write a loop which will ask the user to input an integer until that integer is the one randomly generated.

#### **Exercise 19**

**Write a program which will compute the Fibonnaci sequence untill the user want it to stop.**  
**Do a second program that will calculate a given number _n_ of the Fibonnac sequence values.**

**Hint:** You have to write a loop that will take into account what the user want at each iteration.  

**Note:** The Fibonnacci sequence, is a sequence noted $F_n$ such as each number, in this sequence, is the sum of the two preceding ones, starting from 0 and 1.  
The mathematic formulation of the sequence is:  
$$
F_0 = 0,\ F_1 = 1 \text{ and }  
F_n = F_{n-1} + F_{n-2} \ \forall n > 1.
$$

Here is the first elements of this sequence:  
0, 1, 1, 2, 3, 5, 8, 13,...

#### **Exercise 20**

**Redo Exercice 10 but with a _for_ loop**

The sequence of letters was 'AlksErRoVpeWdsSaFsdCfafkpweRKddAPoSRCPsO' and you had to print the letter with the most occurrences.

## **D) Comprehensions**

### **List comprehensions**

#### **Exercise 21**
**Create a list with comprehension that give the lengths of every word in the following sentence**  

**Sentence:** "All animals are equal but some animals are more equal than others" (Quotes from Animal Farm)

#### **Exercise 22**

**From the following list, returns a new list with only the positive numbers as integers.**

```
numbers = [-2.2, 3.2, 1.8, -1.23, 0.3, -0.1, 7.6]
```

#### **Exercise 23**

**Count the number of spaces in the following sentence, using comprehension**  

**Sentence:** "Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator."

#### **Exercise 24**

**Create a new string by removing all the vowels in the previous sentence**

#### **Exercise 25**

**Create a list of prime numbers between 2 and 100 with nested list comprehension.**

### **Dictionary comprehensions**

#### **Exercise 26**
**In the following dictionary, there's 5 different temperature measurements. The key is the time of measurement and the value is temperature in Fahrenheit. You have to convert the temperature in Celsius units, using comprehensions.**
**Print the temperature at the 4th time measurement in °F and in °C units**
```
dictionary = {"t1": 50, "t2":85, "t3":32, "t4":43, "t5":229}
```

**Note:** $C = \frac{5}{9} \times (F- 32)$  
**Example:** $10°F = -12.2°C$
$$
\frac{5}{9}(10 - 32) = -\frac{5\times 22}{9} = -\frac{110}{9} = -12.2°C
$$

#### **Exercise 27**

**From a random list of ages, you have to:**

**1. Create a new list with discrete values of ages. Created with a 10 years step as follows: [0-10), [10-20), [20-30), ... , [90-100).**   

**2. Create a dictionnary with each age category as a key and the number of occurrences of this category as a value.**  

**3. Print the category with the most occurrences and the one with the fewest occurrences**

**You can only use comprehensions, except for the 3rd task**

**Hint:** Use random.randint() in order to create ages from 1 to 99 (not included)